Flask
flask-ngrok

git-lfs==1.6
gitdb==4.0.7
graphviz==0.18.2
grpcio==1.41.1
gunicorn==20.1.0

Jinja2

keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
kneed==0.7.0
language-tool-python==2.7.0
libclang==12.0.0
lineedit==0.1.6
llvmlite==0.36.0
lockfile==0.12.2
lxml==4.7.1
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.3
mistune==0.8.4
msal==1.16.0
msal-extensions==0.3.1
msrest==0.6.21
multidict==5.2.0
natsort==7.1.1
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.5
newspaper3k==0.2.8
nltk==3.6.7

numpy==1.20.3


pandas==1.1.4
pytesseract==0.3.8
pytest==6.2.4
scanpy==1.8.1
scikit-image==0.18.1
scikit-learn==0.24.2
scipy==1.6.0
seaborn==0.11.1
sklearn==0.0
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
tensorflow==2.8.0
tensorflow-addons==0.15.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.24.0
textblob==0.17.1
texttable==1.6.4
tf-estimator-nightly==2.8.0.dev2021122109
toml==0.10.2
toolz==0.11.1
torch==1.10.2
torchtext
torchvision
urllib3==1.26.3
