Flask
flask-ngrok


gunicorn==20.1.0

Jinja2

keras==2.8.0
Keras-Preprocessing==1.1.2

newspaper3k==0.2.8
nltk==3.6.7

numpy==1.20.3


pandas==1.1.4

tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
tensorflow-cpu==2.8.0
-f http://download.pytorch.org/whl/cpu/torch-1.10.2-cp36-none-macosx_10_9_x86_64.whl
torch==1.10.2+cpu
torchtext
torchvision
urllib3==1.26.3
